<div class="photogrid">
{{#each images}}
  <div class="img-container">
    <a href="{{this.url}}">
      <img alt="{{this.alt}}" src="/images/{{this.fileName}}.{{this.fileType}}"/>
    </a>
  </div>
{{/each}}
</div>
