/*********************************************************************************/
/* General                                                                       */
/*********************************************************************************/

p {
  width: clamp(45ch, 80%, 75ch);
}

.button {
  display: block;
  width: 20em;
  max-width: 100%;
  padding: 1em 2em;
  font-weight: 500;
  border-radius: .3em;
  background-color: #4a7;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.repo {
  background-color: #567;
  margin: auto;
  margin-top: 5ch;
}

.title {
  text-align: center;
}

.license {
  text-align: center;
  margin: auto;
  margin-top: 5ch;
}

@media only screen and (max-width: 550px) {
}

/*********************************************************************************/
/* Gallery                                                                       */
/*********************************************************************************/

.bio {
  text-align: center;
  margin: auto;
  margin-bottom: 5ch;
}

.photogrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.photogrid .img-container {
  height: 40vh;
  flex-grow: 1;
}

.photogrid img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.photogrid img:hover {
  filter: brightness(50%);
  transform:scale(0.98);
  transition-duration: .5s;
}

@media only screen and (max-width: 550px) {
  .photogrid {
    flex-direction: column;
  }
}
/*********************************************************************************/
/* Photo                                                                         */
/*********************************************************************************/

.photo {
  margin: auto;
  width: 100ch;
}

.photo img {
  width: 100%;
}

.photo h1,h3 {
  display: inline-block;
  margin-right: 2ch;
}

