/*********************************************************************************/
/* General                                                                       */
/*********************************************************************************/

.title {
  text-align: center;
}

.license {
  text-align: center;
}

/*********************************************************************************/
/* Gallery                                                                       */
/*********************************************************************************/

.photogrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.photogrid .img-container {
  height: 40vh;
  flex-grow: 1;
}

.photogrid img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.photogrid img:hover {
  filter: brightness(50%);
  transform:scale(0.98);
  transition-duration: .5s;
}

/*********************************************************************************/
/* Photo                                                                         */
/*********************************************************************************/

.photo {
  margin: auto;
  width: 80%;
}

.photo img {
  width: 100%;
}

.photo h1,h3 {
  display: inline-block;
  margin-right: 2ch;
}

.photo p {
  width: 70ch;
}
